html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}
.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.content {
    text-align: center;
    display: inline-block;
}

h1,h2,h3,h4,h5,h6{

}
h1 {
    font-size: 96px;
}

h2 {
    font-size: 84px;
}

h3 {
    font-size: 72px;
}

h4 {
    font-size: 60px;
}

h5 {
    font-size: 48px;
}

h6 {
    font-size: 36px;
}

p {
    font-size:24px;
}